body {
    background: rgb(20,20,20);
    background: linear-gradient(22deg, rgba(20,20,20,1) 0%, rgba(57,57,57,1) 50%, rgba(17,18,18,1) 100%);
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.transparent-corners {
    background: linear-gradient(to top left, yellow, transparent 75%), linear-gradient(to bottom left, yellow, transparent 75%), linear-gradient(to top right, yellow, transparent 75%), linear-gradient(to bottom right, yellow, transparent 75%);
    background-size: 50% 50%;
    background-position: 0px 0%, 0px 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
    width: 20%;
    height: 60px;
}

.soft-edges {
    box-shadow: 0px -2px 2px rgba(34,34,34,0.6);
}

#portrait {
    background: url('./assets/profile.jpg') no-repeat;
    width: 20em;
    height: 30em;
    /* mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    mask-image: radial-gradient(rgba(0,0,0,1) 30%, rgba(0,0,0,0) 71%);
    mask-image: linear-gradient(to top right, rgba(0,0,0,0) 30%, rgba(0,0,0,1)50%, rgba(0,0,0,0) 70%), radial-gradient(rgba(0,0,0,1) 30%, rgba(0,0,0,0) 71%); */
    /* mask-image: radial-gradient(at 53% 55%, rgba(0,0,0,1) 0, rgba(0,0,0,1) 24%, rgba(0,0,0,0) 100%), linear-gradient(39.80557109226518deg, rgba(0,0,0,0) 0, rgba(0,0,0,1) 49%, rgba(0,0,0,0) 100%); */
    mask-image: radial-gradient(rgba(0,0,0,1) 40%, rgba(0,0,0,0) 90%);
    background-clip: border-box;
    background-position: top left;
    background-size: cover;
    border-radius: 5em;
    filter: grayscale(1);
}